@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 90%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/


header { width: 100%; }

/* head styling starts here */
.head .wrapper {
  padding: 57px 0 54px 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 40;
}

.head h1 {
  width: 250px;
  height: 25px;
}

.head h1 a img { width: 245px; }

.head ul { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex; 
  -webkit-box-align: center; 
  -ms-flex-align: center; 
  align-items: center;
}

.head ul li {
  margin-left: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head ul li:last-child { margin-left: 25px; }

.banner-items li span,
.head ul li span,
.navbar li span,
.nav-links a span {
  position: relative;
  text-indent: -9999px;
}

.about a figure::after,
.head ul li span::before,
.nav-links a span::before,
.navbar li span::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
  text-indent: 0;
}

.head ul li span.phone::before,
.head ul li span.house::before,
.head ul li span.clock::before {
  left: -55px;
  color: #32af96;
  font-size: 30px;
}

.head ul li span.phone::before { content: '\f879'; }
.head ul li span.house::before { content: '\f015'; }
.services ul li span.door::before,
.head ul li span.clock::before { content: '\f017'; }
.head ul li div { line-height: 17px; }

.head ul li h2 {
  font-size: 17px;
  font-weight: 900;
  letter-spacing: .2px;
}

.head ul li small {
  color: #a6bbbb;
  font-size: 13px;
}

.head ul li a,
.banner-links a {
  padding: 15px 26px;
  border-radius: 10px;
  background:#32af96;
  color: #fff;
  font-size: 14px;
  letter-spacing: .8px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.head ul li a:hover,
.banner-links a:hover,
.about-info a:hover { background: #268673 }
/* head styling ends here */

/* nav styling starts here */

nav { background: #101010 }

nav .wrapper {
  padding: 22px 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#menu { display: none; }
.navbar { margin-left: 10px; }
.navbar li {position: relative;}

.list {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 30px;
  background: #303030;
  z-index: 20;
}

.navbar li ul li {
  padding: 10px 20px;
  margin: 5px auto;
}

.navbar li ul li a {
  font-weight: 100;
  font-size: 12px;
}

.navbar li a:hover .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar li a:hover,
.navbar li a:hover span::before,
.nav-links a:hover { color: #268673 }
.navbar li { margin-right: 45px; }
.navbar li a.active,
.navbar li a.active span::before { color: #32af96; }

.navbar li a,
.nav-links a  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.navbar li span { font-size: 0; }

.navbar li span::before {
  content: '\f0dd';
  top: -5px;
  padding-left: 8px;
  color: #fff;
  font-size: 16px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-links a span.cart::before,
.nav-links a span.search::before { font-size: 18px; }

.nav-links a span.cart::before {
  content: '\f290';
  right: 38px;
}

.nav-links a span.search::before {
  content: '\f002';
  right: 2px;
}

/* nav styling ends here */

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.banner {
  width: 100%;
  height: 560px;
  background: url('../Images/slider.jpg') no-repeat;
  background-size: cover;
  text-align: center;
}

.banner h2 {
  padding-top: 20px;
  color: #fff;
  font-weight: 600;
  font-size: 108px;
  letter-spacing: 6px;
}

.banner p {
  color: #fff;
  font-size: 15px;
  letter-spacing: .5px;
}

.banner p:nth-of-type(2) { margin-top: 10px; }

.banner-links {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.banner-links li { margin: 0 8px; }

.banner-links li a {
  padding: 16px 30px;
  font-size: 15px;
}

.banner-links li:nth-child(2) a {
  background: #fff;
  color: #a6bbbb;
  font-weight: 600;
}

.banner-links li:nth-child(2) a:hover { background: #eeebeb; }

.banner-items {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.banner-items li { 
  padding: 20px 0;
  background: #fff; 
}

.banner-items li h3 {
  margin-top: 15px;
  color: #000;
  font-weight: 600;
}

.banner-items li span,
.services ul li span  {
  position: relative;
  font-size: 0;
}

.banner-items li span::before {
  color: #32af96;
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
  font-size: 85px;
  text-indent: 0;
}

.services ul li span.trucki::before,
.banner-items li span.truck::before { content: '\f0d1'; }
.banner-items li span.ocean::before { content: '\f21a'; }
.banner-items li span.airfreight::before { content: '\f072'; }
.banner-items li span.contract::before { content: '\f0d1'; }

/* services styling starts here */

.services {
  padding: 52px 0;
  margin: 52px auto;
}

.info h2,
.services h2,
.about-info h2 {
  margin: 0 auto;
  position: relative;
  color: #666;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  letter-spacing: 1px;
}

.about-info h2::after,
.services h2::after {
  content: '';
  width: 35px;
  height: 4px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  bottom: -15px;
  left: 0;
  background: #32af96;
}

.services ul {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 370px 20px 370px 20px 370px;
  grid-template-columns: repeat(3, 370px);
  grid-gap: 20px;
}

.services ul li {
  padding: 25px 15px;
  border: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.services ul li h3 { font-weight: 600; }

.services ul li p {
  margin-top: 12px;
  color: #666;
  font-size: 15px;
}

.services ul li span { width: 25%; }
.services ul li div { width: 75%; }

.services ul li span::before {
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  background: #eee;
  color: #000;
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
  font-size: 16px;
}

.services ul li span.files::before {
  content: '\f1c0';
  padding: 10px 13px;
  font-size: 19px;
}

.services ul li span.car::before {
  content: '\f1b9';
  padding: 8px 11px;
  font-size: 23px;
}

.services ul li span.ware::before {
  content: '\f275';
  padding: 10px 11px;
  font-size: 22px;
}

.services ul li span.world::before {
  content: '\f57d';
  padding: 11px 12px;
  font-size: 16px;
}

/* services styling ends here */

/* about styling starts here */

.about .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #f9f9f9;
}

.about > a { width: 49%; }

.about a figure {
  width: 100%;
  position: relative;
}

.about a figure img {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}

.about a figure::after {
  content: '\f04b';
  width: 18%;
  height: 22%;
  margin: auto;
  border: 2px solid #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  font-size: 50px;
}

.about-info {
  width: 51%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 105px 65px;
  text-align: left;
}

.about-info h2 {
  margin: 0 0 10px 0;
  text-align: left;
  color: #000;
}

.about-info h2::after { margin: 0; }

.about-info p {
  width: 95%;
  margin: 40px 0 20px 0;
  color: #666;
  font-size: 15px;
  letter-spacing: .3px;
  line-height: 24px;
}

.about-info a {
  width: 100px;
  padding: 17px 25px;
  border-radius: 6px;
  color: #fff;
  background: #32af96;
  font-size: 15px;
  letter-spacing: 1px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

/* about styling ends here */

/* counter styling starts here */


.counter {
  margin-right: auto;
  background: #333;
}

.counter .wrapper { width: 78%; }

.counter ul {
  padding: 75px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
}

.counter ul li span { font-size: 0; }

.counter ul li h2 {
  color: #fff;
  font-weight: 600;
  font-size: 34px;
}

.counter ul li:nth-of-type(2) h2 { padding-top: 5px; }
.counter ul li:nth-of-type(3) h2 { padding-top: 15px; }
.counter ul li:nth-of-type(4) h2 { padding-top: 15px; }

.counter ul li p {
  margin-top: 20px;
  color: #a6bbbb;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: .4px;
}

.counter ul li span::after {
  color: #32af96;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
}

.counter ul li span.dice::after {
  content: '\f1b3';
  font-size: 55px;
}

.counter ul li span.users::after {
  content: '\f0c0';
  font-size: 50px;
}

.counter ul li span.thumb::after {
  content: '\f164';
  font-size: 40px;
}

.counter ul li span.smile::after {
  content: '\f118';
  font-size: 40px;
}

/* counter styling ends here */

/* info styling starts here */

.info .wrapper {
  width: 86%;
  padding: 55px 0;
  margin: 55px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.info .special,
.info .news { width: 47.5%; }

.special h2,
.info h2 {
  margin-bottom: 30px;;
  color: #000;
  text-align: left;
}

.special ul {
  width: 100%;
  border: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.special ul li:first-child h3 { border-bottom: 1px solid #eee; }
.special ul li:last-child h3 { border-bottom: none; }

.news ul li h3,
.special ul li h3 {
  width: 100%;
  border-bottom: 1px solid #eee;
  color: #333;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: .3px;
}

.special ul li h3 {
  cursor: pointer;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.special ul li h3:hover { color: #a6bbbb; }

.special ul li div {
  width: 100%;
  padding: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  display: none;
  color: #666;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: .3px;
  overflow: hidden;
}

.special ul li:first-child div { display: block; }

.acc,
.right,
.news ul li div small .tick {
  width: 12%;
  height: 100%;
  padding: 22px 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #f9f9f9;
  text-indent: -9999px;
  cursor: pointer;
}

.news ul li div small .tick::before,
.acc::after,
.right::after {
  content: '\f061';
  width: 100%;
  height: 100%;
  text-align: center;
  color: #bbb;
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
  font-size: 18px;
  text-indent: 0;
}

.acc {
  padding: 0;
  background: #fff;
}

.acc::after { font-size: 26px; }
.acc.ship::after { content: '\f21a'; }
.acc.plane::after { content: '\f072'; }
.acc.truky::after { content: '\f0d1'; }
.acc.earth::after { content: '\f57d'; }

.news ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 25px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

.news ul li div {
  padding: 20px;
  border: 1px solid #eee;
}

.news ul li div h3 {
  margin-bottom: 14px;
  border: none;
}

.news ul li div p,
.news ul li div small {
  font-size: 15px;
  color: #666;
  line-height: 22px;
}

.news ul li div p { margin: 14px auto; }

.news ul li div a .right {
  padding: 0;
  margin-left: 5px;
}

.news ul li div a .right::after {
  background: #fff;
  color: #666;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.news ul li div a:hover,
.news ul li div a:hover .right::after { color: #a6bbbb; }

.news ul li div a {
  color: #666;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: .5px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.news ul li div small .tick {
  padding: 0;
  background: #fff;
}

.news ul li div small .tick::before {
  content: '\f017';
  color: #32af96;
}

/* info styling ends here */

/* video styling starts here */

.video {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.video .wrapper {
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: right;
  background: #000000b3;
}

#closeVid {
  padding: 2px 8px;
  margin-left: 55%;
  position: relative;
  bottom: 20px;
  background: #aebbbb;
  font-family: 600;
  cursor: pointer;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

#closeVid:hover {
  background: #666;
  color: #fff;
}

video {
  width: 50%;
  z-index: 20;
}

.none { display: none; }

/* video styling ends here */

/* toggleBtn styling starts here */

#toggleBtn {
  display: none;
  width: 100%;
  height: 0;
  position: relative;
  text-indent: -9999px;
}

#toggleBtn::after {
  content: '\f106';
  padding: 6px 12px;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #000;
  color: #fff;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 22px;
  opacity: .3;
  cursor: pointer;
  text-indent: 0;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

#toggleBtn:hover::after { opacity: .8; }
.hidden { overflow: hidden; }

.flex { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex 
}

/* toggleBtn styling ends here */


/*=================================
  main styling ends here
=================================*/

/*media query starts*/
/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {

  .head .wrapper,
  .head ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .head .wrapper { padding: 20px 0; }
  .head ul { margin: 20px 0 0 0; }
  .head ul li { margin: 10px auto; }

  .banner {
    padding: 50px 0;
    background-position: right;
    background-size: cover;
  }

  .services ul {
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  .about-info {
    padding: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {

  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .navbar {
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #101010;
    -webkit-transform: translateY(-300%);
    -ms-transform: translateY(-300%);
    transform: translateY(-300%);
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    z-index: 10;
  }

  .showNav {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  .navbar li {
    width: 60%;
    text-align: center;
  }

  .navbar li a {
    width: 100%;
    padding: 10px 30px;
    border-bottom: 1px solid #000;
    background: #3f3f3f;
  }

  #menu {
    margin-right: 20px;
    display: block;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
  }

  .nav-links a span.cart::before { right: -20px; }
  .nav-links a span.search::before { right: -60px; }
  .banner { background-position: center; }

  .banner-items {
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
    grid-template-columns: repeat(4, 1fr);
  }

  .banner-items li span::before{ font-size: 40px; }

  .services ul {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }

  .about .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .about > a,
  .about-info,
  .info .special,
  .info .news { width: 100%; }
  .about-info { padding: 40px 30px; }
  .about h2::after,
  .about-info a { margin: 0 auto; }
  .about h2,
  .about-info { text-align: center }

  .counter ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 40px 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 40px;
  }

  .info .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .special { margin-bottom: 40px; }
  #closeVid { margin-left: 75%; } 
  video { width: 70%; }
}


/*media query for 540px starts here*/
@media only screen and (max-width: 540px) {

  .nav-links a span.cart::before { right: -40px; }
  .nav-links a span.search::before { right: -80px; }
  .banner h2 { font-size: 46px; }
  .banner p { margin: 15px auto; }

  .banner-items {
    width: 90%;
    margin: 40px auto;
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .banner-items li { padding: 10px; }
  .banner-items li span::before { font-size: 30px; }

  .services ul {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .about .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .about > a,
  .about-info,
  .info .special,
  .info .news { width: 100%; }
  .about-info { padding: 40px 30px; }
  .about h2::after,
  .about-info a { margin: 0 auto; }
  .about h2,
  .about-info { text-align: center }

  .counter ul {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  #closeVid { margin-left: 85%; }
  video { width: 90%; }
  .acc { display: none; }
  .special ul h3 .right { margin-right: 10px; }
  .about a figure::after { font-size: 25px; }
  .info h2 { text-align: center; }

  .news ul {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .head ul li a:hover,
  .banner-links a:hover,
  .about-info a:hover { background: #32af96; }
  .special ul li h3:hover { color: #333; }
  .news ul li div a:hover,
  .news ul li div a:hover .right::after { color: #666; }

  #closeVid:hover {
    background: #aebbbb;
    color: #000;
  }

  #toggleBtn:hover::after { opacity: .3; }
}

/*media query for 320px starts here*/
@media only screen and (max-width: 320px) {
  .banner-links li a {
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 14px;
  }

  .special ul li h3 { font-size: 15px; }
}